<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Two Servlets</display-name>

    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>ServletOne</servlet-class>
        <init-param>
        	<param-name>password</param-name>
        	<param-value>servletOne</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>

   <servlet>
        <servlet-name>servlet2</servlet-name>
        <servlet-class>ServletTwo</servlet-class>
        <init-param>
        	<param-name>password</param-name>
        	<param-value>servletTwo</param-value>
        </init-param>        
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    
    <context-param>
    	<param-name>database</param-name>
    	<param-value>mysql://localhost:5536/mydb</param-value>
    </context-param>

</web-app>
